#ql-panel #counterClickTime {
    position:relative;
    z-index:999;
    height: 20px !important;
    width: 150px !important;
    font-size: 1em !important;
    padding: 5px !important;
    border: none !important;
}

#ql-panel #counterClickSelector {
    position:relative;
    z-index:999;
    height: 20px !important;
    width: 150px !important;
    font-size: 1em !important;
    padding: 5px !important;
    border: none !important;
}

#ql-panel #listenButton {
    position:relative;
    z-index:999;
    width: 100% !important;
    border: none !important;
    color: red !important;
    font-size: 1em !important;
}

#ql-panel #triggerButton {
    height:50px;
    width:50px;
    position:relative;
    z-index:9999;
    background-position:center;
    background-size:100%;
    background-image:url(https://raw.githubusercontent.com/Cherokeeli/monkey-lib/master/timing-click/image/1.pic.png);
}

#ql-panel {
    position:fixed;
    z-index:9999;
}

#ql-panel #hidePanel {
    position:absolute;
    z-index:9999;
    display:none;
    border: solid 1px rgb(238,238,238) !important;
    box-shadow: 0 0 5px rgb(213,210,210) !important;
}