#ql-panel #counterClickTime {
    position:relative;
    z-index:999;
    height: 20px;
    width: 150px;
    font-size: 1em;
    padding: 5px;
}

#ql-panel #counterClickSelector {
    position:relative;
    z-index:999;
    height: 20px;
    width: 150px;
    font-size: 1em;
    padding: 5px;
}

#ql-panel #listenButton {
    position:relative;
    z-index:999;
    width: 100%;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 1.2em;
}

#ql-panel #triggerButton {
    height:50px;
    width:50px;
    position:relative;
    z-index:9999;
    background-position:center;
    background-size:100%;
    background-image:url(https://raw.githubusercontent.com/Cherokeeli/monkey-lib/master/timing-click/image/1.pic.png);
}

#ql-panel {
    position:fixed;
    z-index:9999;
}

#ql-panel #hidePanel {
    position:absolute;
    z-index:9999;
    display:none;
    border: solid 1px rpb(238,238,238);
    box-shadow: 0 0 5px rbg(213,210,210);
}